
<%
   function plural(n,singular,plural) {
     plural = plural || (singular + 's')
     n = typeof(n) === 'undefined' ? 0 : n
     return n + ' ' + (n == 1 ? singular : plural)
   }
   
   function svg(iconPrefix,name,text){ %>
<div>
  <img src="<%= iconPrefix + name %>.svg" class="icon"></img>
  <span class="text"><%= text %></span>
</div>
<% } %>

<div>
Hi <%= name %>

<%= svg(icons,"smitten",plural(state.c,"C")) %>
<%= svg(icons,"sleepy",plural(state.d,"D")) %>

</div>
