
<% function svg(iconPrefix,name){ %>
        <img src="<%= iconPrefix + name %>.svg" class="icon"></img>
<% } %>

<div>
Name: <%= name %>

<p>
<%= svg(icons,"smitten") %> C's: <%= state.c %>

<p>
<%= svg(icons,"sleepy") %> D's: <%= state.d %>


<div>
Name: <%= name %>

<p>
<%= svg(icons,"smitten") %> C's: <%= state.c %>

<p>
<%= svg(icons,"sleepy") %> D's: <%= state.d %>

<div>
Name: <%= name %>

<p>
<%= svg(icons,"smitten") %> C's: <%= state.c %>

<p>
<%= svg(icons,"sleepy") %> D's: <%= state.d %>

<div>
Name: <%= name %>

<p>
<%= svg(icons,"smitten") %> C's: <%= state.c %>

<p>
<%= svg(icons,"sleepy") %> D's: <%= state.d %>

<div>
Name: <%= name %>

<p>
<%= svg(icons,"smitten") %> C's: <%= state.c %>

<p>
<%= svg(icons,"sleepy") %> D's: <%= state.d %>

<div>
Name: <%= name %>

<p>
<%= svg(icons,"smitten") %> C's: <%= state.c %>

<p>
<%= svg(icons,"sleepy") %> D's: <%= state.d %>

<div>
Name: <%= name %>

<p>
<%= svg(icons,"smitten") %> C's: <%= state.c %>

<p>
<%= svg(icons,"sleepy") %> D's: <%= state.d %>

<div>
Name: <%= name %>

<p>
<%= svg(icons,"smitten") %> C's: <%= state.c %>

<p>
<%= svg(icons,"sleepy") %> D's: <%= state.d %>

<div>
Name: <%= name %>

<p>
<%= svg(icons,"smitten") %> C's: <%= state.c %>

<p>
<%= svg(icons,"sleepy") %> D's: <%= state.d %>

<div>
Name: <%= name %>

<p>
<%= svg(icons,"smitten") %> C's: <%= state.c %>

<p>
<%= svg(icons,"sleepy") %> D's: <%= state.d %>

<div>
Name: <%= name %>

<p>
<%= svg(icons,"smitten") %> C's: <%= state.c %>

<p>
<%= svg(icons,"sleepy") %> D's: <%= state.d %>

<div>
Name: <%= name %>

<p>
<%= svg(icons,"smitten") %> C's: <%= state.c %>

<p>
<%= svg(icons,"sleepy") %> D's: <%= state.d %>

<div>
Name: <%= name %>

<p>
<%= svg(icons,"smitten") %> C's: <%= state.c %>

<p>
<%= svg(icons,"sleepy") %> D's: <%= state.d %>

<div>
Name: <%= name %>

<p>
<%= svg(icons,"smitten") %> C's: <%= state.c %>

<p>
<%= svg(icons,"sleepy") %> D's: <%= state.d %>

<div>
Name: <%= name %>

<p>
<%= svg(icons,"smitten") %> C's: <%= state.c %>

<p>
<%= svg(icons,"sleepy") %> D's: <%= state.d %>

<div>
Name: <%= name %>

<p>
<%= svg(icons,"smitten") %> C's: <%= state.c %>

<p>
<%= svg(icons,"sleepy") %> D's: <%= state.d %>

<div>
Name: <%= name %>

<p>
<%= svg(icons,"smitten") %> C's: <%= state.c %>

<p>
<%= svg(icons,"sleepy") %> D's: <%= state.d %>

<div>
Name: <%= name %>

<p>
<%= svg(icons,"smitten") %> C's: <%= state.c %>

<p>
<%= svg(icons,"sleepy") %> D's: <%= state.d %>

<div>
Name: <%= name %>

<p>
<%= svg(icons,"smitten") %> C's: <%= state.c %>

<p>
<%= svg(icons,"sleepy") %> D's: <%= state.d %>

<div>
Name: <%= name %>

<p>
<%= svg(icons,"smitten") %> C's: <%= state.c %>

<p>
<%= svg(icons,"sleepy") %> D's: <%= state.d %>

<div>
Name: <%= name %>

<p>
<%= svg(icons,"smitten") %> C's: <%= state.c %>

<p>
<%= svg(icons,"sleepy") %> D's: <%= state.d %>

<div>
Name: <%= name %>

<p>
<%= svg(icons,"smitten") %> C's: <%= state.c %>

<p>
<%= svg(icons,"sleepy") %> D's: <%= state.d %>

<div>
Name: <%= name %>

<p>
<%= svg(icons,"smitten") %> C's: <%= state.c %>

<p>
<%= svg(icons,"sleepy") %> D's: <%= state.d %>

<div>
Name: <%= name %>

<p>
<%= svg(icons,"smitten") %> C's: <%= state.c %>

<p>
<%= svg(icons,"sleepy") %> D's: <%= state.d %>

<div>
Name: <%= name %>

<p>
<%= svg(icons,"smitten") %> C's: <%= state.c %>

<p>
<%= svg(icons,"sleepy") %> D's: <%= state.d %>

</div>
