<div class="iconblock">
 <%- icon("smitten",plural(state.count && state.count.c,"C"),"green") %>
 <%- icon("sleepy",plural(state.count && state.count.d,"D"),"black","red") %>
 <%- icon("smitten",plural(state.count && state.count.c,"C"),"green") %>
 <%- icon("sleepy",plural(state.count && state.count.d,"D"),"black","red") %>
 <%- icon("smitten",plural(state.count && state.count.c,"C"),"green") %>
 <%- icon("sleepy",plural(state.count && state.count.d,"D"),"black","red") %>
 <%- icon("smitten",plural(state.count && state.count.c,"C"),"green") %>
 <%- icon("sleepy",plural(state.count && state.count.d,"D"),"black","red") %>
 <%- icon("smitten",plural(state.count && state.count.c,"C"),"green") %>
 <%- icon("sleepy",plural(state.count && state.count.d,"D"),"black","red") %>
</div>